In [1]:
import pandas as pd
from pennylane import numpy as np
from Factory.data import PrepareData
from Factory.model import QBC
from sklearn import metrics

C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

# Prepare Data

Load data in

In [2]:
df = pd.read_csv('fraud_detection_bank_dataset.csv', sep=',')
df = df.astype(float)
df = df.drop(['Unnamed: 0'], axis = 1)

In [3]:
df

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
0,9.0,1354.0,0.0,18.0,0.0,1.0,7.0,9.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,49.0,1.0
1,0.0,239.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,55.0,1.0
2,0.0,260.0,0.0,4.0,0.0,3.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,56.0,1.0
3,17.0,682.0,0.0,1.0,0.0,0.0,8.0,17.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,65.0,1.0
4,1.0,540.0,0.0,2.0,0.0,1.0,7.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,175.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20463,0.0,88.0,0.0,0.0,0.0,2.0,-1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,85.0,0.0
20464,0.0,134.0,0.0,2.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
20465,4.0,393.0,1.0,1.0,0.0,0.0,-1.0,4.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,0.0
20466,0.0,10.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
20467,4.0,399.0,0.0,3.0,0.0,1.0,7.0,4.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,72.0,0.0

Clean data

In [4]:
df_clean = df.loc[:, df.any()]
df_clean.describe()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_13,col_14,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
count,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,...,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000,20468.000000
mean,3.226256,294.793043,0.420021,2.329343,0.083594,0.939857,2.386066,3.226256,0.038646,0.363152,...,0.004935,0.358120,0.002443,0.308384,0.190737,0.000049,0.049345,0.024282,43.486125,0.265683
std,20.564308,717.541984,7.367275,10.068512,0.840537,4.222896,3.018140,20.564308,0.192754,0.480920,...,0.073478,0.479459,0.049366,0.461837,0.392892,0.006990,0.216593,0.305079,59.217560,0.441707
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000
50%,0.000000,97.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000
75%,2.000000,283.000000,0.000000,2.000000,0.000000,1.000000,6.000000,2.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,61.250000,1.000000
max,2301.000000,37808.000000,904.000000,772.000000,54.000000,230.000000,11.000000,2301.000000,1.000000,1.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,17.000000,747.000000,1.000000

In [5]:
df_clean = df_clean.drop('col_7', axis = 1)

In [6]:
df_clean = df_clean.dropna()

In [7]:
df_clean["col_28"].describe()

count    20468.000000
mean         0.999951
std          0.006990
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: col_28, dtype: float64

Prepare data

In [8]:
data = PrepareData(data = df_clean,target = "targets", sample_size = 4000, test_split = 0.3, seed = 10)

In [9]:
data.view_info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2800 entries, 18511 to 18390
Data columns (total 93 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   col_0    2800 non-null   float64
 1   col_1    2800 non-null   float64
 2   col_2    2800 non-null   float64
 3   col_3    2800 non-null   float64
 4   col_4    2800 non-null   float64
 5   col_5    2800 non-null   float64
 6   col_6    2800 non-null   float64
 7   col_13   2800 non-null   float64
 8   col_14   2800 non-null   float64
 9   col_15   2800 non-null   float64
 10  col_16   2800 non-null   float64
 11  col_17   2800 non-null   float64
 12  col_22   2800 non-null   float64
 13  col_23   2800 non-null   float64
 14  col_24   2800 non-null   float64
 15  col_25   2800 non-null   float64
 16  col_26   2800 non-null   float64
 17  col_27   2800 non-null   float64
 18  col_28   2800 non-null   float64
 19  col_29   2800 non-null   float64
 20  col_30   2800 non-null   float64
 21  col_31   2800 non-null   float64
 22  col_32   2800 non-null   float64
 23  col_33   2800 non-null   float64
 24  col_34   2800 non-null   float64
 25  col_36   2800 non-null   float64
 26  col_37   2800 non-null   float64
 27  col_38   2800 non-null   float64
 28  col_39   2800 non-null   float64
 29  col_40   2800 non-null   float64
 30  col_41   2800 non-null   float64
 31  col_42   2800 non-null   float64
 32  col_43   2800 non-null   float64
 33  col_44   2800 non-null   float64
 34  col_45   2800 non-null   float64
 35  col_46   2800 non-null   float64
 36  col_47   2800 non-null   float64
 37  col_48   2800 non-null   float64
 38  col_49   2800 non-null   float64
 39  col_50   2800 non-null   float64
 40  col_54   2800 non-null   float64
 41  col_55   2800 non-null   float64
 42  col_56   2800 non-null   float64
 43  col_57   2800 non-null   float64
 44  col_59   2800 non-null   float64
 45  col_60   2800 non-null   float64
 46  col_61   2800 non-null   float64
 47  col_62   2800 non-null   float64
 48  col_63   2800 non-null   float64
 49  col_64   2800 non-null   float64
 50  col_65   2800 non-null   float64
 51  col_66   2800 non-null   float64
 52  col_67   2800 non-null   float64
 53  col_68   2800 non-null   float64
 54  col_69   2800 non-null   float64
 55  col_72   2800 non-null   float64
 56  col_73   2800 non-null   float64
 57  col_74   2800 non-null   float64
 58  col_75   2800 non-null   float64
 59  col_76   2800 non-null   float64
 60  col_77   2800 non-null   float64
 61  col_79   2800 non-null   float64
 62  col_80   2800 non-null   float64
 63  col_81   2800 non-null   float64
 64  col_82   2800 non-null   float64
 65  col_83   2800 non-null   float64
 66  col_84   2800 non-null   float64
 67  col_85   2800 non-null   float64
 68  col_86   2800 non-null   float64
 69  col_87   2800 non-null   float64
 70  col_88   2800 non-null   float64
 71  col_89   2800 non-null   float64
 72  col_90   2800 non-null   float64
 73  col_91   2800 non-null   float64
 74  col_92   2800 non-null   float64
 75  col_93   2800 non-null   float64
 76  col_94   2800 non-null   float64
 77  col_95   2800 non-null   float64
 78  col_96   2800 non-null   float64
 79  col_97   2800 non-null   float64
 80  col_98   2800 non-null   float64
 81  col_99   2800 non-null   float64
 82  col_100  2800 non-null   float64
 83  col_101  2800 non-null   float64
 84  col_102  2800 non-null   float64
 85  col_103  2800 non-null   float64
 86  col_104  2800 non-null   float64
 87  col_105  2800 non-null   float64
 88  col_106  2800 non-null   float64
 89  col_107  2800 non-null   float64
 90  col_109  2800 non-null   float64
 91  col_110  2800 non-null   float64
 92  col_111  2800 non-null   float64
dtypes: float64(93)
memory usage: 2.0 MB
None
No preprocessing done yet.

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_13,col_14,col_15,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
count,4000.000000,4000.00000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.0,4000.000000,4000.000000,4000.000000,4000.000000
mean,3.107750,303.98450,0.350500,2.55325,0.085500,0.876500,2.418500,0.044500,0.374250,0.335250,...,0.005750,0.357500,0.002250,0.314500,0.197500,0.0,0.052500,0.028000,45.087750,0.254000
std,11.545192,693.90412,3.502601,15.23119,0.702006,3.092028,3.037213,0.206229,0.483989,0.472137,...,0.084963,0.479324,0.047387,0.464374,0.398163,0.0,0.223061,0.340213,61.890857,0.435352
min,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,38.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,5.000000,0.000000
50%,0.000000,98.00000,0.000000,1.00000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,19.000000,0.000000
75%,2.000000,296.00000,0.000000,2.00000,0.000000,1.000000,6.000000,0.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,62.000000,1.000000
max,312.000000,19687.00000,194.000000,772.00000,26.000000,125.000000,8.000000,1.000000,1.000000,1.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,10.000000,581.000000,1.000000

# Use LDA

Preprocess LDA

In [10]:
data.x_train["col_69"]

18511     1.0
16368     3.0
14317     4.0
17822     2.0
86       20.0
         ...
18427     1.0
13519     4.0
15688     3.0
11065     0.0
18390     2.0
Name: col_69, Length: 2800, dtype: float64

In [11]:
data.perform_LDA()

Performing LDA...

C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\jonas\Anaconda3\envs\my-rdkit-env\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
data.view_info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2800 entries, 18511 to 18390
Data columns (total 93 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   col_0    2800 non-null   float64
 1   col_1    2800 non-null   float64
 2   col_2    2800 non-null   float64
 3   col_3    2800 non-null   float64
 4   col_4    2800 non-null   float64
 5   col_5    2800 non-null   float64
 6   col_6    2800 non-null   float64
 7   col_13   2800 non-null   float64
 8   col_14   2800 non-null   float64
 9   col_15   2800 non-null   float64
 10  col_16   2800 non-null   float64
 11  col_17   2800 non-null   float64
 12  col_22   2800 non-null   float64
 13  col_23   2800 non-null   float64
 14  col_24   2800 non-null   float64
 15  col_25   2800 non-null   float64
 16  col_26   2800 non-null   float64
 17  col_27   2800 non-null   float64
 18  col_28   2800 non-null   float64
 19  col_29   2800 non-null   float64
 20  col_30   2800 non-null   float64
 21  col_31   2800 non-null   float64
 22  col_32   2800 non-null   float64
 23  col_33   2800 non-null   float64
 24  col_34   2800 non-null   float64
 25  col_36   2800 non-null   float64
 26  col_37   2800 non-null   float64
 27  col_38   2800 non-null   float64
 28  col_39   2800 non-null   float64
 29  col_40   2800 non-null   float64
 30  col_41   2800 non-null   float64
 31  col_42   2800 non-null   float64
 32  col_43   2800 non-null   float64
 33  col_44   2800 non-null   float64
 34  col_45   2800 non-null   float64
 35  col_46   2800 non-null   float64
 36  col_47   2800 non-null   float64
 37  col_48   2800 non-null   float64
 38  col_49   2800 non-null   float64
 39  col_50   2800 non-null   float64
 40  col_54   2800 non-null   float64
 41  col_55   2800 non-null   float64
 42  col_56   2800 non-null   float64
 43  col_57   2800 non-null   float64
 44  col_59   2800 non-null   float64
 45  col_60   2800 non-null   float64
 46  col_61   2800 non-null   float64
 47  col_62   2800 non-null   float64
 48  col_63   2800 non-null   float64
 49  col_64   2800 non-null   float64
 50  col_65   2800 non-null   float64
 51  col_66   2800 non-null   float64
 52  col_67   2800 non-null   float64
 53  col_68   2800 non-null   float64
 54  col_69   2800 non-null   float64
 55  col_72   2800 non-null   float64
 56  col_73   2800 non-null   float64
 57  col_74   2800 non-null   float64
 58  col_75   2800 non-null   float64
 59  col_76   2800 non-null   float64
 60  col_77   2800 non-null   float64
 61  col_79   2800 non-null   float64
 62  col_80   2800 non-null   float64
 63  col_81   2800 non-null   float64
 64  col_82   2800 non-null   float64
 65  col_83   2800 non-null   float64
 66  col_84   2800 non-null   float64
 67  col_85   2800 non-null   float64
 68  col_86   2800 non-null   float64
 69  col_87   2800 non-null   float64
 70  col_88   2800 non-null   float64
 71  col_89   2800 non-null   float64
 72  col_90   2800 non-null   float64
 73  col_91   2800 non-null   float64
 74  col_92   2800 non-null   float64
 75  col_93   2800 non-null   float64
 76  col_94   2800 non-null   float64
 77  col_95   2800 non-null   float64
 78  col_96   2800 non-null   float64
 79  col_97   2800 non-null   float64
 80  col_98   2800 non-null   float64
 81  col_99   2800 non-null   float64
 82  col_100  2800 non-null   float64
 83  col_101  2800 non-null   float64
 84  col_102  2800 non-null   float64
 85  col_103  2800 non-null   float64
 86  col_104  2800 non-null   float64
 87  col_105  2800 non-null   float64
 88  col_106  2800 non-null   float64
 89  col_107  2800 non-null   float64
 90  col_109  2800 non-null   float64
 91  col_110  2800 non-null   float64
 92  col_111  2800 non-null   float64
dtypes: float64(93)
memory usage: 2.0 MB
None
Preprocessing done via:  LDA

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_13,col_14,col_15,...,col_103,col_104,col_105,col_106,col_107,col_108,col_109,col_110,col_111,targets
count,4000.000000,4000.00000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.0,4000.000000,4000.000000,4000.000000,4000.000000
mean,3.107750,303.98450,0.350500,2.55325,0.085500,0.876500,2.418500,0.044500,0.374250,0.335250,...,0.005750,0.357500,0.002250,0.314500,0.197500,0.0,0.052500,0.028000,45.087750,0.254000
std,11.545192,693.90412,3.502601,15.23119,0.702006,3.092028,3.037213,0.206229,0.483989,0.472137,...,0.084963,0.479324,0.047387,0.464374,0.398163,0.0,0.223061,0.340213,61.890857,0.435352
min,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,38.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,5.000000,0.000000
50%,0.000000,98.00000,0.000000,1.00000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,19.000000,0.000000
75%,2.000000,296.00000,0.000000,2.00000,0.000000,1.000000,6.000000,0.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,62.000000,1.000000
max,312.000000,19687.00000,194.000000,772.00000,26.000000,125.000000,8.000000,1.000000,1.000000,1.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,10.000000,581.000000,1.000000

Define and train model

In [13]:
model_LDA = QBC(data, n_dim = 2, n_layers = 5, backend = "lightning.qubit")

In [ ]:
model_LDA.train()

New best
Iter:     1 | Cost: 0.7771661 | Accuracy: 0.7435714
New best
Iter:     2 | Cost: 0.5792928 | Accuracy: 0.8142857
Iter:     3 | Cost: 0.5811377 | Accuracy: 0.8125000
New best
Iter:     4 | Cost: 0.5696112 | Accuracy: 0.8292857
New best
Iter:     5 | Cost: 0.4818806 | Accuracy: 0.8442857
New best

Get the test set from the data to predict:

In [ ]:
_, _, X_test, Y_test = data.get_preprocessed()

In [ ]:
predictions_LDA = model_LDA.predict(X_test)

In [ ]:
print(metrics.classification_report(predictions_LDA,Y_test))
print(metrics.precision_score(predictions_LDA,Y_test))
print(metrics.recall_score(predictions_LDA,Y_test))
print(metrics.f1_score(predictions_LDA,Y_test))
print(metrics.balanced_accuracy_score(predictions_LDA,Y_test))
print(metrics.confusion_matrix(predictions_LDA,Y_test))

# Use PCA

Preprocess PCA

In [ ]:
data.perform_PCA()

In [ ]:
data.view_info()

Define and train model

In [ ]:
model_PCA = QBC(data, n_dim = 2, n_layers = 5, backend = "lightning.qubit")

In [ ]:
model_PCA.train()

Get the test set from the data to predict:

In [ ]:
predictions_PCA = model_PCA.predict(X_test)

In [ ]:
print(metrics.classification_report(predictions_PCA,Y_test))
print(metrics.precision_score(predictions_PCA,Y_test))
print(metrics.recall_score(predictions_PCA,Y_test))
print(metrics.f1_score(predictions_PCA,Y_test))
print(metrics.balanced_accuracy_score(predictions_PCA,Y_test))
print(metrics.confusion_matrix(predictions_PCA,Y_test))